<h2 style="color:purple;"><center>This is <%= "#{@granny.name}" %></h2>

<b><p style ="font-size:20px;">Age:</b> <%= @granny.age %> years young
<br>
<b><p style="font-size:20px;">Has Treats?:</b> <%= @granny.has_treats %></p>