<h1 style="color:purple;"><center>This is Granny <%= "#{@granny.name}" %></h1>

<b><p style ="font-size:20px;">Age:</b> <%= @granny.age %> years young
<br>
<b><p style="font-size:20px;">Has Treats?:</b> <%= @granny.has_treats %></p>
<b><p style="font-size:20px;">Number of Cats:</b> <%= @granny.cat_count %></p>