<h1><center>Meet <%= @cat.name %></h1>
<img src="https://images.saymedia-content.com/.image/c_limit%2Ccs_srgb%2Cq_auto:eco%2Cw_1400/MTk2NzY3MjA5ODc0MjY5ODI2/top-10-cutest-cat-photos-of-all-time.webp" alt="granny_cats" width="250" height="150">
<p style="font-size:20px;">Number of lives out of 9:<p> <%= @cat.lives %>
<p style="font-size:20px;">Spayed or Neutered?:<p> <%= @cat.spayed_neutered %>